extends layout

block content
  br
  .w3-container
    .w3-card-4.w3-center(style="padding: 15px;")
      img(src=user.picture)
      p Welcome #{user.nickname}
      script.
        var data = !{JSON.stringify(btc)};
        | <script id="template" type="text/x-kendo-template">
      		| <label class="search-label" for="searchBox">Search Grid:</label>
     		  | <input type="search" id="searchBox" class="k-textbox" style="width: 250px"/>
    		  | <input type="button" id="btnSearch" class="k-button" value="Search"/>
    		  | <input type="button" id="btnReset" class="k-button" value="Reset"/>
      | </script>
      #grid

